* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.root {
    height: 100%;
    width: 100vw;
}
.header {
    width: 100vw;
    background: #282828;
}
.headers {

    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
    width: 100vw;
    height: 76px;
    background: #282828;
    z-index: 9996;
}

.headers-inner {
    box-sizing: border-box;
    display: flex;
    padding: 0 30px;

}

.logo {
    cursor: pointer;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}
label{
    clear: both;
}
.nav {
    box-sizing: border-box;
    color: rebeccapurple;
    display: flex;
    height: 76px;
    justify-content: space-between;
    flex: 1;
}

.left, .right {
    display: flex;
}

.first, .second, .third, .signin {
    position: relative;
    font-size: 14px;
    box-sizing: border-box;
}

.has_sub {
    text-align: center;
    display: block;
    height: 76px;
    line-height: 76px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}
.front{
    background-color: #f7f7f7;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    height: 90px;    
    text-align: center
}
.front h1{
    margin-top: 10px;
}
.content{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    max-width: 1250px;
}
.login {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
.context-left{
    display: block;
    flex: 1;
    flex-direction: column;
}
.context-right{
    display: block;
    flex: 1;
    margin-top: 15px;
    margin-left: 30px;
}
.context-righ::before{
    position: absolute;
    content: "";
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    border-left:solid 1px rgb(235, 222, 222);
}
h3{
    font-size: 23px;
    line-height: 1.2;
    font-family: "A black", sans-serif;
    font-weight: 600;
    color: #0A0A0A;
    margin-top: 30px;
    float: left;
}

.form-login{
    margin-top: 5px;
    float: left;
}
.top{
    float: left;
    margin-top: 20px;
}
.mention{
    float: left;
    margin-top: 15px;
    clear: both;
    cursor: pointer;
}
.mentions{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
    cursor: pointer;
}
.bottom{
    float: left;
    margin-top: 20px;  
}
.top input{
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 .75em;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    width: 500px;
    margin-top: 10px;
}
.remember{
    display: inline;
    margin-right: 10px;
    font-size: 16px;
}
.login-btn,.reg-btn{
    display: block;
    border-radius: 8px;
    background-color: #021bff;
    font-family: "A bold", sans-serif;
    font-weight: bold;
    padding: 0.2em 1.2em 0em 1.2em;
    text-transform: none;
    touch-action: none;
    cursor: pointer;
    font-size: .97em;
    letter-spacing: .03em;
    text-decoration: none;
    border: 1px solid transparent;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    color: #fff;
    margin-top: 15px;
}
